.header
  .header__box
    %h1.header__box__title My PortFolio
    %ul.header__box__info
      %a{:href => "#1"}
        profile
      %a{:href => "#2"}
        product
      %a{:href => "#3"}
        team
      %a{:href => "#4"}
        contact