#1 
.profile
  .profile__inner
    .profile__inner__title
      Profile
      .profile__inner__title__box
        .profile__inner__title__box__photo
          .profile__inner__title__box__photo__icon
          %a{:href => "https://twitter.com/assy0209"}
            %i.fab.fa-twitter
          %a{:href => "https://github.com/atsushi-tago-0209"}
            %i.fab.fa-github
          %a{:href => "mailto:0209at@gmail.com"}
            %i.fas.fa-envelope
        .profile__inner__title__box__aboutme  
          .profile__inner__title__box__aboutme__main
          About Me
          .profile__inner__title__box__aboutme__name 
            %h2.profile__inner__title__box__aboutme__name__info パーソナル情報  
            %p.profile__inner__title__box__aboutme__name__sentence
              田子  篤(たご  あつし)<br>
              1984年 02月 09日 生まれ 36歳
            %h2.profile__inner__title__box__aboutme__name__keireki 経歴  
            %li.profile__inner__title__box__aboutme__name__sentence1
              ・2006年3月 ： 滋賀大学 教育学部 社会科教育課程 卒業<br>
              ・2006年4月-2007年3月 ： 滋賀県(非常勤講師)<br>
              ・2007年4月-2010年3月 ： 滋賀県(常勤講師)<br>
              ・2010年4月-2020年3月 ： 滋賀県 (退職)
              <br>
              <br>
              【前職】小学校 教師<br>
              ■主な担当<br>
              2年学年主任   (2019年)<br>
              5年学年主任   (2018年)<br>
              5年体育主任   (2017年)<br>
              1年体育主任   (2016年)<br>
              4年体育主任   (2015年)<br>
              6年体育主任   (2014年)<br>
              6年外国語主任 （2013年)<br><br>          
              【成果】<br>
              ・1年を振り返って次年度へ改善するための会議を設定。
              目的からそれていた業務の削減をすることができ、時間的な余裕を生むことができました。<br>
              ・会議のあり方の修正。（資料の読み上げを廃止し、必要な質疑応答のみにする）<br>
              ・体育主任として、体力向上を目的として、マラソン大会の開催、休み時間の全校マラソン開催、学年なわとび大会の実施、サッカーの授業改善の研修会の実施<br>
              ・大津市社会科教育の夏季研修講座の実施<br>
              ・大津市の社会科で使用する副読本の１単元「安全なくらしを守る」を制作<br>
              ・学年主任として、ふくれあがっている行事を精選して、必要のない、あるいは時間対効果の低い活動の削減。<br><br>
              【ポイント】<br>
              ・問いを生み出し、既存の価値について見直すことで、
              %span.executionability 課題を改善していく実行力
              が身につきました。<br>
              ・毎年新たなことに挑戦し続ける
              %span.keep 継続力
              があります。<br>
              ・チームメンバーとコミュニケーションを図り、目的意識を共有し、目的を達成する事が出来る
              %span.management 「 マネジメント能力」
              が身につきました。<br>
              ・初任者の指導にも関わり、相手の思いを聞きながら仕事を進めることができ、
              %span.communication「コミュニケーション能力」
              が身につきました。<br>
            %h2.profile__inner__title__box__aboutme__name__language 学習経験 
            %li.profile__inner__title__box__aboutme__name__sentence2
              Ruby , Ruby on Rails , HTML・CSS , JavaScript , jQuery , SQL ,Git<br>
              GitHub , Haml・SCSS・AWS 等の技術を用いたアプリケーション開発 
            %h2.profile__inner__title__box__aboutme__name__learning
              どの様な業務をしたいか
            %li.profile__inner__title__box__aboutme__name__sentence3
              多くの人の役にたち、画期的なアプリの開発に携わりたいです。<br>
              その為に必要な言語やスキルを常に取り入れていける環境で働きたいです。
            %h2.profile__inner__title__box__aboutme__name__engineer どんなエンジニアになりたいか
            %li.profile__inner__title__box__aboutme__name__sentence4
              フルスタックエンジニアを目指して技術を磨き、それを駆使して、人の役に立つサービスを構築できるエンジニアになりたいと考えています。<br>
              <br>
              %span.newvalue【新たな価値を生み出す】<br>
              これまで当たり前のように行われてきたことから、もっといい方法はないのかを考え、改善していきたいと考えています。これまでのやり方や考え方を違った視点から見ることで、新たな価値と出会うことができ、よりよい社会を作っていく一端を担っていくことができると考えているからです。<br><br>
              %span.agevalue【時代にあった価値を見つけ出す】<br>
              学び続けることで、新たな技術を身につけられるようになることや新たな知見を得られるようになることが好きです。
              言語を学び続けるだけでなく、時代にあった価値を見つけて提供できるようにしていきたいです。常に問いを作り出して考えるようにしています。
#2  
.skill
  .skill__inner
    .skill__inner__title 
      Grow_Up 
    .skill__inner__title__box
      %a{:href => "http://18.180.123.106/",class:"skill__inner__title__box__image"}
      .skill__inner__title__box__text
        .skill__inner__title__box__text__name
          Personal Development
        %ul.skill__inner__title__box__text__overview
          アプリの概要
          %li ・教育に関わる研修を検索して閲覧、申し込みができるアプリ。
          %li ・地域、カレンダー、キーワードの３つの絞り込み検索機能。
          %li ・いいね機能
        %ul.skill__inner__title__box__text__code
          ソースコード<br>
          %a{:href => "https://github.com/atsushi-tago-0209/grow_up",class:"saucecode"}
            %i.fab.fa-github GitHub (Grow_Up)
        %ul.work__inner__title__box__text__ingenuity
          開発言語<br>
          %li ・Ruby/Ruby on Rails/JavaScript/MySQL/Github/AWS/Visual Studio Code
        %ul.skill__inner__title__box__text__ingenuity
          こだわったところ<br>
          %li ・初めてRailsでCRUD処理を実装して制作したアプリ
          %li ・ユーザー視点を大切にし、Ransackの検索機能を導入した点
          %li ・ログインしているときにのみ、いいね、編集、削除ができる。
        %ul.skill__inner__title__box__text__gem
          使用したGem<br>
          %li ・Ransack：検索機能
          %li ・Devise：ログイン機能
          %li ・RSpec：テストコード
          %li ・pry-byebug：アプリデバッグ
          %li ・Pagenate : ページネーション機能
          %li ・Ancestry : 多階層カテゴリー
          %li ・Bootstrap-sass 
#3
.work
  .work__inner
    .work__inner__title 
      Furima　
    .work__inner__title__box
      %a{:href => "http://3.113.36.253/",class:"work__inner__title__box__image"}
      .work__inner__title__box__text
        .work__inner__title__box__text__name
          Team Development
        %ul.work__inner__title__box__text__overview
          アプリの概要
          %li ・教育に関わる研修を検索して閲覧、申し込みができるアプリ。
          %li ・地域、カレンダー、キーワードの３つの絞り込み検索機能。
          %li ・アジャイル型開発（スクラム）
        %ul.work__inner__title__box__text__code
          ソースコード<br>
          %a{:href => "https://github.com/atsushi-tago-0209/freemarket_sample_68f",class:"saucecode"}
            %i.fab.fa-github GitHub (Furima)
        %ul.work__inner__title__box__text__ingenuity
          開発言語<br>
          %li ・Ruby/Ruby on Rails/JavaScript/MySQL/Github/AWS/Visual Studio Code
        %ul.work__inner__title__box__text__ingenuity
          こだわったところ<br>
          %li ・商品編集ページを開いたときに、出品したときと同じUIを実装。
          %li ・javascriptを用いて、選択した写真を瞬時に確認することができる。
          %li ・ログインしているときにのみ、いいね、編集、削除ができる。
        %ul.work__inner__title__box__text__gem
          使用したGem<br>
          %li ・Ransack：検索機能
          %li ・Devise：ログイン機能
          %li ・RSpec：テストコード
          %li ・pry-byebug：アプリデバッグ
          %li ・Pagenate : ページネーション機能
          %li ・Ancestry : 多階層カテゴリー
          %li ・Pay.jp ： 商品購入機能
#4
.form
  .form__element
    .form__element__contact Contact
    .form__element__box
      お問い合わせ・SNS
    .form__element__sentence
      メールまたはツイッターDMでご連絡ください。
    .form__element__sns
      %a{:href => "https://twitter.com/assy0209"}
        %i.fab.fa-twitter
      %a{:href => "mailto:0209at@gmail.com"}
        %i.fas.fa-envelope




