.profile{
  &__inner{
    width: 75%;
    margin: 0 auto;
    padding: 80px 0;
    &__title{
      font-size: 80px;
      font-family: 'Baloo Thambi 2';
      &__box{
        display: flex;
        &__photo{
          float: left;
          width: 40%;
          &__icon{
            width: 300px;
            height: 300px;
            background-image:image-url("myilust.jpg");
            border-radius: 50%;
            background-position: center ;
            background-size:cover;
            margin-top: 100px;
          }
          a{
            text-decoration: none;
            margin-left: 36px;
          }
          .fa-twitter,.fa-line,.fa-github,.fa-envelope{
            font-size: 0.6em; 
          }
          .fa-twitter{
            color: #00aced ;
          }
          .fa-github{
            color: #bd878d;
          }
          .fa-envelope{
            color: black;
          }
        }
        &__aboutme{
          float: right;
          width: 60%;
          &__name{
            font-size: 35px;
            text-decoration: none;
            list-style: none;
            &__info{
              font-size: 28px;
           
            }
            &__sentence{
              font-size: 16px;
            }
            &__keireki{
              font-size: 28px;
              padding: 30px 0 10px 0;
            }
            .executionability,.keep,.management,.communication{
              color: red;
              font-size: 18px;
              font-weight: bold;
            }
            .newvalue,.agevalue{
              font-size: 20px;
              font-weight: bold;
            }
            &__sentence1, &__sentence2, &__sentence3,&__sentence4{
              font-size: 16px;
            }
            &__language,,&__learning,&__engineer{
              font-size: 28px;
              padding: 30px 0 10px 0;
            }
          }
        }
      }
    }
  }
}
.skill{
  background-color: #f8f9fa!important;
  min-height: 1100px;
  padding: 30px 0;
  color: black;
  &__inner{
    padding: 20px 0;
    width: 85%;
    margin: 0 auto;
    &__title{
      padding-left: 90px;
      font-size: 80px;
      font-family: 'Baloo Thambi 2';
      &__box{
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        &__image{
          width: 33%;
          background-image: image-url("grow_up.png");
          background-position: center ;
          background-size:cover;
          height: 300px;
          margin-right: 50px;
          margin-top: 40px;
        }
        &__image a:hover {
          opacity: 0.7;
        }
        &__text{
          height: 500px;
          width: 62%;
          font-family: 'Baloo Thambi 2';
          &__name{
            font-size: 50px;
          }
          &__overview,&__code,&__ingenuity,&__gem{
            font-size: 24px;
            padding: 15px 0;
            li{
              padding-top: 5px;
              font-size: 16px;
            }
          }
          .saucecode{
            padding-top: 10px;
            font-size: 22px;
            text-decoration: none;
            color: #00A4BB;
          }
        }
      }
    }
  }
}

.work{
  background-color: white;
  min-height: 1100px;
  padding: 30px 0;
  color: black;
  &__inner{
    padding: 20px 0;
    width: 85%;
    margin: 0 auto;
    &__title{
      padding-left: 90px;
      font-size: 80px;
      font-family: 'Baloo Thambi 2';
      &__box{
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        &__image{
          width: 35%;
          background-image: image-url("furima.jpg");
          background-position: center ;
          background-size:cover;
          height: 300px;
          margin-right: 50px;
          margin-top: 40px;
        }
        &__text{
          height: 500px;
          width: 62%;
          font-family: 'Baloo Thambi 2';
          &__name{
            font-size: 50px;
          }
          &__overview,&__code,&__ingenuity,&__gem{
            font-size: 24px;
            padding: 15px 0;
            li{
              padding-top: 5px;
              font-size: 16px;
            }
          }
          .saucecode{
            padding-top: 10px;
            font-size: 22px;
            text-decoration: none;
            color: #00A4BB;
          }
        }
      }
    }
  }
}
.form{
  background-color: #f8f9fa!important;
  &__element{
    width: 900px;
    margin: 0 auto;
    padding: 100px 0;
    &__contact{
     margin: 30px 0;
     font-size: 80px;
     font-family: 'Baloo Thambi 2';
    }
    &__box{
      text-align: center;
      font-size: 35px;
    }
    &__sentence{
      text-align: left;
      font-size: 1.25rem;
      text-align: center;
      padding-top: 20px;
    }
    &__sns{
      margin: 0 auto;
      width: 600px;
      font-size: 85px;
      text-align: center;
    }
      a{
        text-decoration: none;
        margin-left: 36px;
      }
      .fa-twitter,.fa-line,.fa-github,.fa-envelope{
        font-size: 0.5em; 
      }
      .fa-twitter{
        color: #00aced ;
      }
      .fa-envelope{
        color: black;
    }
  }
}